{% load wagtailcore_tags %}

  <div class="container">
    <div class="auth-form-component">
      <div class="max-width-wrapper">
        {% slot "title" %}
        <div class="auth-form-title">
          <h1 class="form-title">FORM TITLE</h1>
          <a href="#" class="form-subtitle">Optional link.</a>
        </div>
        {% endslot %}

        {% slot "notice" %}
        {% endslot %}

        {% if form %}
        <form method="{{ method }}" action="{{ action }}">
          {% csrf_token %}

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="non-field-error">{{ error }}</div>
            {% endfor %}
          {% endif %}

          {% slot "form_fields" %}
          {% for field in form %}
          <div class="form-field {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}">
              {% if field.name == 'agree_to_terms' %}
              {% with terms_link=settings.home.MiscSettings.terms_of_use_link.0 privacy_link=settings.home.MiscSettings.privacy_policy_link.0 %}
              <span>
                By creating an account, I agree to our
                <a href="{% if terms_link.value.page %}{% pageurl terms_link.value.page %}{% else %}{{ terms_link.value.url }}{% endif %}" target="_blank">Terms of use</a> and
                <a href="{% if privacy_link.value.page %}{% pageurl privacy_link.value.page %}{% else %}{{ privacy_link.value.url }}{% endif %}" target="_blank">Privacy Policy</a>.
              </span>
              {% endwith %}
              {% else %}
              <span>{{ field.label }}</span>
              {% endif %}
              {% if field.errors %}
              <div class="error">
                {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
              </div>
              {% endif %}
            </label>
            {{ field }}
          </div>
          {% endfor %}
          {% endslot %}

          {% slot "submit" %}
          <button type="submit">Submit</button>
          {% endslot %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
