.auth-form-component {
  padding-block: 4rem 4.5rem;
  padding-inline: 1.5rem;
  margin-bottom: 3.125rem;

  .max-width-wrapper {
    max-width: 60ch;
    margin: 0 auto;

    .auth-form-title {
      margin-bottom: 2.6875rem;

      .form-title {
        font-size: 2.25rem;
        font-weight: 600;
      }

      .form-subtitle {
        font-size: 1.125rem;
        line-height: 1.2;
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .auth-form-notice,
    .non-field-error {
      margin-bottom: 2rem;
      padding: 1.25rem;
      background: #fff;
      border: 1px solid #000;
      border-radius: 10px;
      font-size: 1rem;
      color: #000;
    }

    .non-field-error {
      border-color: var(--color-error);
      color: var(--color-error);
    }

    form {
      .form-field {
        margin-bottom: 2rem;

        &.has-error {
          input {
            border-color: var(--color-error);
          }
        }

        label {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: 0.3125rem;
          line-height: 1.1;

          span {
            font-size: 1.125rem;
          }

          .error {
            color: var(--color-error);
            font-size: 0.875rem;
            text-align: right;
            text-wrap: balance;
          }
        }

        input {
          width: 100%;
          padding: 0.75rem 1rem;
          border: 1px solid #000;
          border-radius: 10px;
          font-size: 1.25rem;
          font-weight: 600;
        }
      }

      button[type="submit"] {
        margin-top: 3rem;
      }

      .under-submit {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.375rem;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
