apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kvak
resources:
  - deployment.yaml
  - ingress.yaml
  - service.yaml
images:
  - name: kvak
    newName: rg.fr-par.scw.cloud/djnd/kvak
    newTag: 'd1688e71909f3050fce54ee0ea1ce706d017d5cf'
