# --- PERSISTENT DATA LOCATION ---
PERSISTENT_DATA_DIR=./persistent-data

# --- GENERAL SETTINGS ---
DJANGO_SECRET_KEY=changeme      # you can generate an new secret key with https://djecrety.ir/
POSTGRES_DB_PASSWORD=changeme   # change this to a strong password
DJANGO_DOMAIN=localhost:8080    # change this to your domain

# --- EMAIL SETTINGS ---
# DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# DJANGO_EMAIL_HOST=your.smtp.server,
# DJANGO_EMAIL_HOST_PASSWORD=changeme
# DJANGO_EMAIL_HOST_USER=changeme
# DJANGO_EMAIL_PORT=465
# DJANGO_EMAIL_USE_SSL=
# DJANGO_EMAIL_USE_TLS=
# DJANGO_REPLY_TO_EMAIL=reply-to@your.email.domain
# DJANGO_FROM_EMAIL=KVAK <kvak@your.email.domain>
