{% load wagtailcore_tags %}

<div>
  <div class="container">
    <div class="landing-courses-component">
      {% component "landing-title-row"
        title="COURSES"
        description=page.courses_description
        button_text="See all courses"
        button_href=page.courses_page.get_url
      / %}
      <div class="courses">
        {% for course in courses %}
        {% component "course-card"
          course_page=course
          heading="h3"
          title=course.title
          image=course.image
          description=course.overview|richtext
          href=course.get_url
        / %}
        {% endfor %}
      </div>
      {% component "suggest-courses" / %}
    </div>
  </div>
</div>
