{% load wagtailcore_tags %}

<div>
  <div class="container">
    <div class="landing-courses-component">
      {% component "landing-title-row"
        title="COURSES"
        description=page.courses_description
        button_text="See all courses"
        button_href=page.courses_page.get_url
      / %}
      <div class="courses">
        {% for course in courses %}
        {% component "course-card"
          title=course.title
          image=course.image
          description=course.overview|richtext
          href=course.get_url
        / %}
        {% endfor %}
      </div>
      <div class="suggest">
        <div class="suggest-text">
          Do you have a suggestion for a course that we should offer?<br>
          Do you want to share your educational content with us?
        </div>
        <div class="suggest-cta">
          Send us an email to <a href="mailto:mail@mail.com">mail@mail.com</a>.
        </div>
      </div>
    </div>
  </div>
</div>
