.footer-component {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 195px;
    background: var(--color-green-lightest);
    border-radius: 20px;
    font-size: 1.75rem;
    font-weight: 600;
  }

  .eu-fund {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    padding-block: 1.3125rem;
    font-size: 0.75rem;
    line-height: 1.2;

    @media (max-width: 575.98px) {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    img {
      height: 3rem;
    }

    div {
      max-width: 72ch;
    }
  }
}
