.footer-component {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: var(--color-green-lightest);
    border-radius: 20px;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;

    @media (max-width: 575.98px) {
      font-size: 1.25rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 0.75rem;

        @media (max-width: 575.98px) {
          margin-bottom: 0.5rem;
        }
      }

      a {
        font-weight: inherit;
        color: inherit;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .eu-fund {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
    padding-block: 1.3125rem;
    font-size: 0.75rem;
    line-height: 1.2;

    @media (max-width: 575.98px) {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    img {
      height: 3rem;
    }

    div {
      max-width: 72ch;
    }
  }
}
