{% load static %}

<div class="container">
  <footer class="footer-component">
    <div class="contact">
      <p>
        If you have any questions or need support, feel free to contact us by email:
      </p>
      <p><a href="mailto:kvak.project@gmail.com" target="_blank">kvak.project@gmail.com</a></p>
    </div>
    <div class="eu-fund">
      <img src="{% static 'img/co-founded-eu.png' %}" alt="">
      <div>
        Funded by the European Union. Views and opinions expressed are however
        those of the author(s) only and do not necessarily reflect those of the
        European Union or the National agency. Neither the European Union nor
        the granting authority can be held responsible for them.
      </div>
    </div>
  </footer>
</div>
