.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;

  .header-logo {
    display: block;

    .logo {
      width: auto;
      height: 4.75rem;
    }
  }

  .nav {
    display: flex;
    gap: 3.25rem;
    list-style: none;
    padding: 0;

    a {
      color: inherit;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
