{% load static %}

<div class="container">
  <header class="header-component">
    <a href="/" class="header-logo">
      <img
        src="{% static 'img/kvak-logo.svg' %}"
        alt="Kvak Logo"
        class="logo"
      />
    </a>
    <ul role="navigation" class="nav">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">Abouwwwwt</a></li>
      <li><a href="#about">Awwboutw__</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </header>
</div>
