.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;

  @media (max-width: 575.98px) {
    padding-inline: 0;
  }

  .header-logo {
    flex-shrink: 0;
    display: block;

    .logo {
      width: auto;
      height: 4.75rem;
    }
  }

  .nav {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;

    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }

    .nav-item {
      &.active {
        a {
          background-color: var(--th-color-lightest);
          border-color: #000;
          box-shadow: 0 0 0 4px var(--th-color-lightest);
          font-weight: 600;
        }
      }

      a {
        padding: 0.25rem 0.75rem;
        border: 1px solid transparent;
        border-radius: 10px;
        color: inherit;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: 500;

        &:hover {
          border-color: #000;
          box-shadow: 0 0 0 4px var(--th-color-lighter);
        }
      }
    }
  }
}
