.header-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;

  @media (max-width: 575.98px) {
    flex-wrap: wrap;
    padding-inline: 0;
  }

  .header-logo {
    flex-shrink: 0;
    display: block;

    .logo {
      width: auto;
      height: 4.75rem;
    }
  }

  .nav-toggle {
    display: none;

    @media (max-width: 575.98px) {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 2.5rem;
      height: 2.5rem;
      background: var(--th-color-lightest);
      border: none;
      border-radius: 999rem;
      padding: 0.75rem 0.5rem;
      cursor: pointer;

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      .bar {
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 2px;
      }

      &:has(+ .open) {
        .bar {
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }
      }

      &:hover {
        background: var(--th-color-lighter);
      }
    }
  }

  .nav-menu {
    @media (max-width: 575.98px) {
      width: 100%;
      height: 0;
      overflow: hidden;

      &.open {
        margin-top: 0.75rem;
        padding: 5px;
        height: auto;
      }
    }

    .nav {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      padding: 0;

      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
      }

      .nav-item {
        &.active {
          a {
            background-color: var(--th-color-lightest);
            border-color: #000;
            box-shadow: 0 0 0 4px var(--th-color-lightest);
            font-weight: 600;
          }
        }

        a {
          padding: 0.25rem 0.75rem;
          border: 1px solid transparent;
          border-radius: 10px;
          color: inherit;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.125rem;
          font-weight: 500;

          &:hover {
            border-color: #000;
            box-shadow: 0 0 0 4px var(--th-color-lighter);
          }
        }
      }
    }
  }
}
