{% load static %}

<div class="container">
  <header class="header-component">
    <a href="/" class="header-logo">
      <img
        src="{% static 'img/kvak-logo.svg' %}"
        alt="Kvak Logo"
        class="logo"
      />
    </a>
    <ul role="navigation" class="nav">
      <li><a href="#">Courses</a></li>
      <li><a href="#">About Badges</a></li>
      <li><a href="#">About Kvak</a></li>
      <li><a href="#">About Partners</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
  </header>
</div>
