{% load static wagtailcore_tags kvak_extras %}

<div class="container">
  <header class="header-component th-green">
    <a href="/" class="header-logo">
      <img
        src="{% static 'img/kvak-logo.svg' %}"
        alt="Kvak Logo"
        class="logo"
      />
    </a>
    <ul role="navigation" class="nav">
      {% for link in settings.home.HeaderSettings.navigation %}
      <li class="nav-item {% if link.value.page and link.value.page.id == page.id %}active{% endif %}"><a href="{% if link.value.page %}{% pageurl link.value.page %}{% else %}{{ link.value.url }}{% endif %}" {% if link.value.url %}target="_blank"{% endif %}>{{ link.value.title }}</a></li>
      {% endfor %}
      <li class="nav-item {% if request|is_login_page %}active{% endif %}"><a href="{% url 'login' %}">Sign in</a></li>
    </ul>
  </header>
</div>
