.courses-list-intro-component {
  display: flex;
  gap: 4rem;
  padding-inline: 1.3125rem 3rem;

  .intro-text {
    flex: 2.5;
    padding-block: 3.5rem 3rem;

    h1 {
      margin-bottom: 0.875rem;
      font-size: 4rem;
      line-height: 1.1;
      font-weight: 800;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.3;
    }

    hr {
      margin-block: 3rem 2.5rem;
      max-width: 283px;
      height: 0;
      border: 0;
      border-top: 1px solid #000;
    }

    .language-selector {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      select {
        appearance: none;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        background: #fff;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 12"><path fill="%23000" d="M7 12 .0718 0h13.8564L7 12Z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 1em center;
        background-size: 0.875em;
        border: 1px solid #000;
        border-radius: 10px;
        font: inherit;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .intro-image {
    flex: 1;
    display: flex;
    align-items: flex-end;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
