.courses-list-intro-component {
  display: flex;
  gap: 4rem;
  padding-inline: 1.3125rem 3rem;

  .intro-text {
    flex: 2.5;
    padding-block: 3.5rem 3rem;

    h1 {
      margin-bottom: 0.875rem;
      font-size: 4rem;
      line-height: 1.1;
      font-weight: 800;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5rem;
      line-height: 1.3;
    }

    hr {
      margin-block: 3rem 2.5rem;
      max-width: 283px;
      height: 0;
      border: 0;
      border-top: 1px solid #000;
    }
  }

  .intro-image {
    flex: 1;
    display: flex;
    align-items: flex-end;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
