.course-card-component {
  position: relative;
  display: block;
  padding: 1.5rem;
  padding-bottom: 3.175rem;
  border: 1px solid #000;
  border-bottom-width: 4px;
  border-radius: 20px;
  background: var(--th-color-barely);
  text-decoration: none;
  color: inherit;

  .badge-overlay {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 6rem;
    height: 6rem;

    &:has(> img) {
      clip-path: var(--badge-clip-path);
      padding: 1px;
      background: #000;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: #fff;
      clip-path: var(--badge-clip-path);
    }
  }

  .image {
    margin-bottom: 1.3125rem;
    border: 0;
    border-radius: 15px;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .arrow-button {
    margin-top: 1.5rem;
    margin-bottom: -2rem;
  }

  .course-card__icon {
    position: absolute;
    bottom: 0.65rem;
    right: 0.75rem;
    width: 1.875rem;
    height: 1.875rem;
    transition: transform 0.15s ease;
  }

  .badge-collected {
    margin-top: 1rem;
    padding: 0.875rem 1rem;
    font-size: 1.3125rem;
    font-weight: 800;
    background: var(--th-color-lighter);
    border-radius: 10px;
    text-align: center;
  }

  &.small-bottom-padding {
    padding-bottom: 1.5rem;

    .arrow-button {
      margin-bottom: 0;
    }
  }

  &:hover {
    box-shadow: 0 0 0 4px var(--th-color-lighter);

    .course-card__icon {
      transform: rotate(-45deg);
    }

    .arrow-button {
      .arrow-button__icon {
        transform: rotate(-45deg);
      }
    }
  }
}
