.course-card-component {
  position: relative;
  display: block;
  padding: 1.5rem;
  padding-bottom: 3.175rem;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 4px 0 0 #000;
  background: var(--color-green-barely);
  text-decoration: none;
  color: inherit;

  .image {
    margin-bottom: 1.3125rem;
    border: 0;
    border-radius: 15px;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  svg {
    position: absolute;
    bottom: 0.65rem;
    right: 0.75rem;
    width: 1.875rem;
    height: 1.875rem;
  }
}
