{% extends "base.html" %}

{% block body_class %}template-exercise{% endblock %}

{% block content %}
{% component "header" / %}
{% component "exercise-breadcrumbs" / %}
{% component "exercise-intro" / %}
{% if show_finished_page %}
{% component "course-finished" / %}
{% component "course-exercises" course_page=course_page / %}
{% component "back-to-course" course_page=course_page / %}
{% else %}
{% component "exercise-base-material" / %}
{% endif %}
{% component "footer" / %}
{% endblock content %}
