/* Anek Latin */
@font-face {
  font-display: swap;
  font-family: "wf-anek-latin";
  font-style: normal;
  font-weight: 400;
  src: url("./anek-latin-v5-latin_latin-ext/anek-latin-v5-latin_latin-ext-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-anek-latin";
  font-style: normal;
  font-weight: 500;
  src: url("./anek-latin-v5-latin_latin-ext/anek-latin-v5-latin_latin-ext-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "wf-anek-latin";
  font-style: normal;
  font-weight: 600;
  src: url("./anek-latin-v5-latin_latin-ext/anek-latin-v5-latin_latin-ext-600.woff2")
    format("woff2");
}
