.progress-pips {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .line {
    position: absolute;
    top: 50%;
    left: 3px;
    right: 3px;
    height: 3px;
    background-color: #000;
    transform: translateY(-50%);
    z-index: 0;
  }

  .pip {
    display: grid;
    place-items: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    z-index: 1;

    .filled {
      width: 16px;
      height: 16px;
      background-color: var(--color-purple);
      border: 3px solid #000;
      border-radius: 50%;
    }
  }
}
