.progress-pips {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.single {
    justify-content: center;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 3px;
    right: 3px;
    height: 3px;
    background-color: #000;
    transform: translateY(-50%);
    z-index: 0;
  }

  .pip {
    display: grid;
    place-items: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;

    .filled {
      &.current {
        width: 16px;
        height: 16px;
        background-color: var(--color-purple);
        border: 3px solid #000;
        border-radius: 50%;
      }

      &.completed {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--color-green-lightest);

        &::after {
          content: "";
          width: 14px;
          height: 7px;
          position: absolute;
          top: 6px;
          left: 4px;
          border-left: 3px solid #000;
          border-bottom: 3px solid #000;
          transform: rotate(-45deg);
          display: block;
        }
      }
    }
  }
}
