.resource-card-component {
  position: relative;
  display: block;
  padding: 1.5rem;
  padding-bottom: 3.175rem;
  border: 1px solid #000;
  border-bottom-width: 4px;
  border-radius: 20px;
  background: #fff;
  text-decoration: none;
  color: inherit;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .resource-card__icon {
    position: absolute;
    bottom: 0.65rem;
    right: 0.75rem;
    width: 1.875rem;
    height: 1.875rem;
    transition: transform 0.15s ease;
  }

  &:hover {
    box-shadow: 0 0 0 4px var(--th-color-lighter);

    .resource-card__icon {
      transform: rotate(-45deg);
    }
  }
}
