.landing-intro-component {
  padding-block: 4.75rem;

  @media (max-width: 575.98px) {
    padding-block: 2.5rem;
  }

  p {
    max-width: 42ch;
    margin-inline: auto;
    font-size: 2.25rem;
    line-height: 1.1;
    text-align: center;

    @media (max-width: 575.98px) {
      font-size: 1.75rem;
    }
  }
}
