{% extends "registration/auth_base.html" %}

{% block title %}Reset Password{% endblock %}

{% block form_content %}
{% component "auth-form"
  method="POST"
  action="."
  form=form
%}
  {% fill "title" %}
  <div class="auth-form-title">
    <h1 class="form-title">RESET YOUR PASSWORD</h1>
    <span>Enter your email so we can send you a reset link.</span>
  </div>
  {% endfill %}

  {% fill "submit" %}
    {% component "arrow-button" type="submit" primary=True full_width=True text="SEND RESET LINK" / %}
  {% endfill %}
{% endcomponent %}
{% endblock %}
