{% extends "registration/auth_base.html" %}
{% load wagtailcore_tags %}

{% block title %}Profile{% endblock %}

{% block form_content %}

{% component "auth-form"
  method="POST"
  action="{% url 'logout' %}"
  form=form
%}
  {% fill "title" %}
  <div class="auth-form-title">
    <h1 class="form-title">HELLO!</h1>
    <a href="{% url 'password_change' %}" class="form-subtitle">Want to change your password?</a>
  </div>
  {% endfill %}

  {% fill "submit" %}
    {% component "arrow-button" type="submit" primary=True full_width=True text="Logout" / %}
  {% endfill %}
{% endcomponent %}

{% component "profile-courses" / %}

{% endblock %}
