.suggest-courses-component {
  .suggest {
    display: flex;
    align-items: center;
    margin-top: 3.875rem;
    padding: 1.5rem;
    background: var(--color-green-lighter);
    border-radius: 20px;
    font-size: 1.5rem;
    line-height: 1.2;

    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin-top: 2.5rem;
      font-size: 1.25rem;
      text-align: center;
    }

    .suggest-text {
      flex: 1.5;
    }

    .suggest-cta {
      flex: 1;
    }

    b {
      font-weight: 600;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
