.arrow-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 1.3125rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;

  span {
    margin-inline: 0.8125rem;
  }

  svg {
    width: 1.875rem;
    height: 1.875rem;
  }

  &:hover {
    box-shadow: 0 0 0 4px var(--th-color-lighter);
  }

  &.full-width {
    width: 100%;
    padding: 0.75rem 1rem;

    span {
      margin-inline: 0.1875rem 0.8125rem;
    }
  }

  &.primary {
    background-color: var(--th-color-lightest);
  }
}
