.arrow-button {
  --_circle-color: var(--th-color-lighter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.375rem;
  width: fit-content;
  min-width: 160px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 1.3125rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;

  span {
    margin-inline: 0.8125rem;
  }

  .arrow-button__icon {
    width: 1.875rem;
    height: 1.875rem;
    transition: transform 0.15s ease;
  }

  &.full-width {
    width: 100%;
    padding: 0.75rem 1rem;

    span {
      margin-inline: 0.1875rem 0.8125rem;
    }
  }

  &.primary {
    background-color: var(--th-color-lightest);
  }

  &.reverse {
    flex-direction: row-reverse;

    .arrow-button__icon {
      scale: -1 1;
    }
  }

  &:disabled,
  &[aria-disabled="true"] {
    --_circle-color: #bcbcbc;
    background-color: #e4e4e4;
    border-color: #505050;
    cursor: not-allowed;
    pointer-events: none;
  }
}

a.arrow-button,
button.arrow-button {
  &:not(:disabled):hover {
    box-shadow: 0 0 0 4px var(--th-color-lighter);

    .arrow-button__icon {
      transform: rotate(-45deg);
    }
  }
}
