<div class="bg-purple-barely th-purple">
  <div class="container">
    <div class="landing-resources-component">
      {% component "landing-title-row"
        title="RESOURCES"
        description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        button_text="See all resources"
        button_href="#"
      / %}
      <div class="resources">
        {% component "resource-card"
          title="Title of the resource"
          description="Nunc mollis commodo mauris, at lacinia neque interdum sed. Nam rhoncus,  eros eu sollicitudin placerat, velit magna euismod mi, at sodales lacus  lacus sit amet nisl."
          href="#"
        / %}
        {% component "resource-card"
          title="Title of the handbook which is a bit longer"
          description="Nunc mauris, at lacinia neque interdum sed. Nam rhoncus,  eros eu sollicitudin placerat, velit magna euismod mi, at sodales lacus  lacus sit amet nisl."
          href="#"
        / %}
        {% component "resource-card"
          title="Title of the resource"
          description="Nam rhoncus,  eros eu sollicitudin placerat, velit magna euismod mi, at sodales lacus  lacus sit amet nisl."
          href="#"
        / %}
        {% component "resource-card"
          title="Title of the resource"
          description="Nunc mollis commodo mauris, at lacinia neque interdum sed. Nam rhoncus,  eros eu sollicitudin placerat, velit magna euismod mi, at sodales lacus  lacus sit amet nisl."
          href="#"
        / %}
      </div>
    </div>
  </div>
</div>
