<div class="bg-purple-barely th-purple">
  <div class="container">
    <div class="landing-resources-component">
      {% component "landing-title-row"
        title="RESOURCES"
        description="lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"
        button_text="See all resources"
        button_href="#"
      / %}
      <div>todo resources</div>
    </div>
  </div>
</div>
