{% load wagtailcore_tags %}

<div class="bg-purple-barely th-purple">
  <div class="container">
    <div class="landing-resources-component">
      {% component "landing-title-row"
        title="RESOURCES"
        description=page.resources_description
      / %}
      <div class="resources">
        {% for resource in resources %}
        {% component "resource-card"
          title=resource.title
          description=resource.description|richtext
          href=resource.link_url
        / %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
