.exercise-base-material-component {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 3.875rem;

  @media (max-width: 575.98px) {
    margin-bottom: 2.5rem;
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  .description {
    font-size: 1.1225rem;
  }

  .video-container {
    margin-block: 1rem;
  }

  hr {
    margin-block: 3rem;
    height: 0;
    border: 0;
    border-top: 1px solid #000;
  }

  .question {
    .question-number {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.3125rem;
      text-transform: uppercase;

      .icon {
        width: 2rem;
        height: 2rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .question-text {
      font-size: 1.3125rem;
      font-weight: 600;
    }

    .answers {
      margin-top: 1.5rem;

      .answer-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem 0.625rem;
        background: var(--color-purple-barely);
        border: 1px solid #000;
        border-radius: 10px;
        font-size: 1.125rem;

        .icon {
          flex-shrink: 0;
          display: none;
          margin-inline: 0.09375rem;
          width: 1.3125rem;
          height: 1.125rem;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        input[type="checkbox"],
        input[type="radio"] {
          flex-shrink: 0;
          width: 1.5rem;
          height: 1.5rem;
          accent-color: var(--color-purple);
        }

        &:has(input[type="checkbox"]:checked),
        &:has(input[type="radio"]:checked) {
          box-shadow: 0 0 0 2px var(--color-purple);
        }

        &:has(input:disabled) {
          cursor: default;
        }
      }

      textarea {
        display: block;
        width: 100%;
        min-height: 100px;
        margin-bottom: 1rem;
        padding: 0.5rem 0.625rem;
        background: var(--color-purple-barely);
        border: 1px solid #000;
        border-radius: 10px;
        resize: vertical;
        font-size: 1.125rem;

        &:disabled {
          cursor: default;
          color: inherit;
        }
      }

      .priority-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem 0.625rem;
        background: var(--color-purple-barely);
        border: 1px solid #000;
        border-radius: 10px;
        font-size: 1.125rem;
        cursor: grab;
        user-select: none;
      }
    }

    .answer-submit {
      &.hidden {
        display: none;
      }
    }

    &.answered {
      .answer-option {
        input:checked:disabled {
          display: none;
        }

        input:checked:disabled + .icon {
          display: block;
        }

        &.correct {
          background-color: var(--color-green-barely);
        }

        &:has(input:checked:disabled) {
          &:not(.correct) {
            background-color: var(--color-error-lighter);
            box-shadow: 0 0 0 2px var(--color-error);
          }

          &.correct {
            background-color: var(--color-green-lightest);
            box-shadow: 0 0 0 2px var(--color-green);
          }
        }
      }

      .priority-option {
        cursor: default;

        .handle {
          display: none;
        }
      }
    }

    .explanation-text {
      font-size: 1.125rem;

      &.hidden {
        display: none;
      }

      hr {
        max-width: 170px;
        margin-block: 2.25rem;
      }

      .title {
        position: relative;
        display: inline-block;
        margin-bottom: 1.1325rem;
        font-size: 1.3125rem;
        font-weight: 600;
        line-height: calc(var(--fm-line-height) / var(--fm-units-per-em));
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          --top: calc(
            (var(--fm-ascender) - var(--fm-capital-height)) /
              var(--fm-units-per-em) * 1em - 0.05em
          );
          --bottom: calc(
            var(--fm-descender) / var(--fm-units-per-em) * 1em - 0.05em
          );
          top: var(--top);
          bottom: var(--bottom);
          z-index: -1;
          display: block;
          background-color: var(--th-color-lighter);
        }
      }
    }
  }

  .page-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;

    @media (max-width: 575.98px) {
      justify-content: space-between;
      margin-top: 2.5rem;
    }

    .arrow-button {
      min-width: auto;
      font-size: 1.125rem;
      line-height: 1.1;

      span {
        margin-inline: 0.5rem;
      }
    }
  }
}
