.exercise-base-material-component {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 3.875rem;

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  .description {
    font-size: 1.1225rem;
  }

  .video-container {
    margin-block: 1rem;
  }

  hr {
    margin-block: 2.25rem;
    height: 0;
    border: 0;
    border-top: 1px solid #000;
  }

  .question {
    .question-number {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.3125rem;
      text-transform: uppercase;

      .icon {
        width: 2rem;
        height: 2rem;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .question-text {
      font-size: 1.3125rem;
      font-weight: 600;
    }

    .explanation-text {
      font-size: 1.125rem;
    }
  }

  .answers {
    margin-top: 1.5rem;

    .answer-option {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem 0.625rem;
      background: var(--color-purple-barely);
      border: 1px solid #000;
      border-radius: 10px;
      font-size: 1.125rem;

      input[type="checkbox"],
      input[type="radio"] {
        width: 1.5rem;
        height: 1.5rem;
        accent-color: var(--color-purple);
      }
    }

    textarea {
      width: 100%;
      min-height: 100px;
      padding: 0.5rem 0.625rem;
      background: var(--color-purple-barely);
      border: 1px solid #000;
      border-radius: 10px;
      resize: vertical;
      font-size: 1.125rem;
    }
  }
}
