.course-exercises-component {
  margin-bottom: 3.875rem;
  padding-inline: 2.25rem;
  padding-block: 2rem;
  border: 1px solid #000;
  border-radius: 10px;

  @media (max-width: 575.98px) {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  details {
    position: relative;

    summary {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;

      &::marker {
        display: none;
        content: "";
      }

      .marker {
        position: absolute;
        top: 11px;
        left: 0;
        width: 15px;
        height: 10px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 10"><path fill="%23000" fill-rule="evenodd" d="M7.0423 9.44c-.3399 0-.6008-.2852-1.1242-.8549-.882-.9617-2.1016-2.318-2.9726-3.3932-.5954-.734-1.286-1.6571-1.9086-2.5104C.243 1.593-.1539 1.049.0556.5845.265.1194.9196.098 2.2306.0553A315 315 0 0 1 3.9173.005L7.0845 0h2.8829a246 246 0 0 1 1.8867.055c1.3109.0428 1.9656.0642 2.175.5294.2094.4645-.1875 1.0086-.9812 2.097-.6227.8532-1.3133 1.7763-1.9086 2.5104-.8711 1.0752-2.0906 2.4315-2.9726 3.3932-.5235.5696-.7846.855-1.1244.855" clip-rule="evenodd"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;

        @media (max-width: 575.98px) {
          top: 8px;
          width: 12px;
          height: 8px;
        }
      }

      .exercise-summary {
        margin-left: 2rem;

        @media (max-width: 575.98px) {
          margin-left: 1.5rem;
        }

        div {
          font-size: 1.3125rem;
          text-transform: uppercase;

          @media (max-width: 575.98px) {
            font-size: 1rem;
          }
        }

        h2 {
          font-size: 1.75rem;

          @media (max-width: 575.98px) {
            font-size: 1.25rem;
          }
        }
      }

      .start-button {
        flex: 0 0 auto;
        margin-left: auto;

        @media (max-width: 575.98px) {
          margin-left: 1.5rem;
          margin-top: 1rem;
        }

        .arrow-button {
          font-size: 1.125rem;
          min-width: auto;

          span {
            margin-inline: 0.25rem;
          }
        }
      }
    }

    &[open] {
      .marker {
        transform: rotate(180deg);
      }
    }

    .exercise-content {
      margin-top: 1.5rem;
      margin-left: 2rem;
      font-size: 1.125rem;

      @media (max-width: 575.98px) {
        margin-left: 1.5rem;
        margin-top: 1rem;
        font-size: 1rem;
      }

      .exercise-metadata {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.75rem;
        font-size: 1.3125rem;

        @media (max-width: 575.98px) {
          font-size: 1rem;
        }
      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-top: 1px solid #000;
    margin-block: 2rem;
  }
}
